/* font family */
@font-face {
  font-family: 'QuicksandLight';
  src: url('../font/Quicksand-Light.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandReguler';
  src: url('../font/Quicksand-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandMedium';
  src: url('../font/Quicksand-Medium.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandSemiBold';
  src: url('../font/Quicksand-SemiBold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuickBold';
  src: url('../font/Quicksand-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'QuicksandLight', sans-serif;
  font-weight: normal;
  font-style: normal;
}

nav {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(4px);
  box-shadow: 0 .5px 20px -2px rgba(30, 144, 255, .1);
}

nav.active {
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(0px);
}

body.active {
  overflow: hidden;
}

nav > .container {
  height: 50px;
  /* border: 1px solid #333; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > .container > .left-menu,
nav > .container > .right-menu {
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  /* border: 1px solid #333; */
}

nav > .container > .right-menu > .button {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav > .container > .right-menu > .button > .btn-signin,
nav > .container > .right-menu > .button > .btn-signup {
  min-width: 80px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'QuickBold', sans-serif;
  font-size: 13px;
}

nav > .container > .right-menu > .button > .btn-signin,
.mobile-navbar > .button > .btn-signin {
  background-color: #FAE455;
  border: 1px solid #FAE455;
  color: #3f3f46;
}

nav > .container > .right-menu > .button > .btn-signup,
.mobile-navbar > .button > .btn-signup {
  background-color: #F44E3F;
  border: 1px solid #F44E3F;
  color: #fff;
}

nav > .container > .right-menu > .button > .btn-signin:hover,
.mobile-navbar > .button > .btn-signin:hover,
.jumbotron > .description > .lets-choose:hover,
.candidate-contents > .container > .candidate > .right > .more:hover {
  background-color: #fce763;
}

nav > .container > .right-menu > .button > .btn-signup:hover,
.mobile-navbar > .button > .btn-signup:hover {
  background-color: #f65547;
}

nav > .container > .left-menu > .beranda,
nav > .container > .left-menu > .candidate-list,
nav > .container > .left-menu > .about {
  height: 100%;
  /* border: 1px solid #333; */
  display: flex;
  align-items: center;
}

nav > .container > .left-menu > .beranda > a,  
nav > .container > .left-menu > .candidate-list > a, 
nav > .container > .left-menu > .about > a,
.mobile-navbar > .candidate-list > a,
.mobile-navbar > .about > a {
  text-decoration: none;
  color: #3f3f46;
  font-size: 14px;
  font-family: 'QuickBold', sans-serif;
}

nav > .container > .right-menu > .hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  /* border: 1px solid #333; */
  cursor: pointer;
}

nav > .container > .right-menu > .hamburger > span {
  width: 20px;
  height: 2px;
  display: block;
  background-color: #3f3f46;
}

@keyframes navbarSmoothActive {
  0% {
    left: -100vw;
    right: 100vw;
  } 100% {
    left: 0vw;
    right: 0vw;
  }
}

@keyframes navbarSmooth {
  0% {
    left: 0vw;
    right: 0vw;
  } 100% {
    left: -100vw;
    right: 100vw;
  }
}

.mobile-navbar {
  position: fixed;
  z-index: 9;
  top: 50px;
  bottom: 0;
  background-color: #fff;
  display: none;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  animation: navbarSmooth .5s ease alternate forwards;
}

.mobile-navbar.active {
  animation: navbarSmoothActive .5s ease alternate forwards;
}

.mobile-navbar > .button {
  width: 100%;
  display: flex;
  gap: 10px;
}

.mobile-navbar > .button > .btn-signin,
.mobile-navbar > .button > .btn-signup {
  flex: 1;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: 'QuicksandBold', sans-serif;
  text-decoration: none;
  border-radius: 5px;
}

/* jumbotron */
.jumbotron {
  min-height: 200px;
  /* border: 1px solid #333; */
  margin-top: 60px;
  margin-bottom: 50px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.jumbotron > .description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 40%;
}

.jumbotron > .description:nth-child(3) {
  display: none;
}

.jumbotron > .description > p {
  font-size: 14px;
  font-family: 'QuicksandMedium', sans-serif;
  color: #3d3d3d;
  margin-bottom: 0;
}

.jumbotron > .description > .lets-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 13px;
  font-family: 'QuickBold', sans-serif;
  max-width: 100px;
  color: #3d3d3d;
  text-align: center;
  text-decoration: none;
  background-color: #FAE455;
  border-radius: 5px;
}

.jumbotron > img {
  max-width: 35%;
}

.candidate-contents {
  width: 100%;
  background-color: #f7f7f7;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.candidate-contents > .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid #333; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.candidate-contents > .container > .pagination {
  width: 100%;
  height: 50px;
  /* border: 1px solid #333; */
  display: flex;
  gap: 7px;
  align-items: center;
}

.candidate-contents > .container > .pagination > .circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .1px solid #ced3da;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.candidate-contents > .container > .pagination > .circle:hover {
  background-color: #f9f9f9;
}

.candidate-contents > .container > .pagination > .circle > .bi-arrow-left,
.candidate-contents > .container > .pagination > .circle > .bi-arrow-right {
  color: #3f3f46;
  font-size: 14px;
  margin: 0;
  
}

.candidate-contents > .container > .candidate {
  width: 100%;
  /* border: 1px solid #333; */
  display: flex;
  gap: 50px;
}

.candidate-contents > .container > .candidate > .left,
.candidate-contents > .container > .candidate > .right {
  width: 50%;
  /* border: 1px solid #333; */
}

.candidate-contents > .container > .candidate > .left {
  overflow: hidden;
  display: flex;
  gap: 15px;
  scroll-behavior: smooth;
}

.candidate-contents > .container > .candidate > .left > .card {
  min-width: 180px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

.candidate-contents > .container > .candidate > .left > .card > img {
  width: 100%;
}

.candidate-contents > .container > .candidate > .left > .card > .description {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.candidate-contents > .container > .candidate > .left > .card > .description > .top {
  border-bottom: .1px solid #ced4da;
  padding-bottom: 10px;
}

.candidate-contents > .container > .candidate > .left > .card > .description > .top,
.candidate-contents > .container > .candidate > .left > .card > .description > .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.candidate-contents > .container > .candidate > .left > .card > .description > .bottom {
  padding-top: 10px;
}

.candidate-contents > .container > .candidate > .left > .card > .description > .top > p,
.candidate-contents > .container > .candidate > .left > .card > .description > .bottom > p,
.candidate-contents > .container > .candidate > .right > .vision > p,
.candidate-contents > .container > .candidate > .right > .mission > p,
.footer > .box:nth-child(1) > p,
.footer > .box:nth-child(2) .contacts > p {
  color: #3d3d3d;
  font-size: 14px;
  font-family: 'QuicksandMedium', sans-serif;
  margin-bottom: 0;
}

.candidate-contents > .container > .candidate > .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.candidate-contents > .container > .candidate > .right > .vision,
.candidate-contents > .container > .candidate > .right > .mission {
  width: 100%;
  /* min-height: 100px; */
  /* border: 1px solid #333; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.candidate-contents > .container > .candidate > .right > .vision > h3,
.candidate-contents > .container > .candidate > .right > .mission > h3 {
  font-size: 22px;
  font-family: 'QuicksandMedium', sans-serif;
  color: #3d3d3d;
  margin-bottom: 0;
}

.candidate-contents > .container > .candidate > .right > .more {
  height: 35px;
  max-width: 150px;
  border: 1px solid #FAE455;
  background-color: #FAE455;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'QuickBold', sans-serif;
  color: #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
.footer {
  min-height: 200px;
  /* border: 1px solid #333; */
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 50px;
}

.footer > .box:nth-child(1),
.footer > .box:nth-child(2) {
  /* border: 1px solid #333; */
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer > .box:nth-child(2) > .contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer > .box:nth-child(1) > img {
  width: 70px;
}

.footer > .box:nth-child(1) > .social-media {
  display: flex;
  gap: 20px;
  align-items: center;
  /* border: 1px solid #333; */
}

.footer > .box:nth-child(1) > .social-media > .bi-facebook,
.footer > .box:nth-child(1) > .social-media > .bi-instagram,
.footer > .box:nth-child(1) > .social-media > .bi-twitter,
.footer > .box:nth-child(1) > .social-media > .bi-youtube {
  color: #3d3d3d;
  font-size: 30px;
}

.footer > .box:nth-child(2) > h4 {
  color: #3d3d3d;
  font-size: 20px;
  margin-bottom: 0;
  font-family: 'QuicksandMedium', sans-serif;
}

/* responsive */
@media screen and (max-width: 992px) {
  .jumbotron > img {
    max-width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron > img {
    max-width: 45%;
  }
}

@media screen and (max-width: 576px) {
  nav > .container > .left-menu > .candidate-list,
  nav > .container > .left-menu > .about,
  nav > .container > .right-menu > .button,
  .jumbotron > .description:nth-child(1) {
    display: none;
  }

  nav > .container > .right-menu > .hamburger,
  .mobile-navbar,
  .jumbotron > .description:nth-child(3) {
    display: flex;
  }

  .jumbotron {
    flex-direction: column;
    gap: 30px;
  }

  .jumbotron > .description,
  .jumbotron > img {
    width: 100%;
    max-width: 100%;
  }

  .candidate-contents > .container > .candidate {
    flex-direction: column;
  }

  .candidate-contents > .container > .candidate > .left,
  .candidate-contents > .container > .candidate > .right {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer > .box:nth-child(1) {
    align-items: center;
  }

  .footer > .box:nth-child(1),
  .footer > .box:nth-child(2) {
    text-align: center;
  }

}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 2px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}